/*  your css code here. If applicable */
body{
			height:100vh;
			padding:0px;
			margin:0px;
		}
		.hero-section{
			background-image:url("https://m.media-amazon.com/images/I/51ZVeRqZvGL._SX3000_.jpg");
			height:500px;
			width:100%;
			background-size:cover;
			position:absolute;
		}
		.card-container{
			display:flex;
			align-items:center;
			gap:10px;
			padding:20px;
			position:relative;
			top:250px;
			left:50px;
		}
		.card{
			height:300px;
			width:300px;
			background-color:white;
			box-shadow:0px 10px 10px black;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			
		}
		.card-image{
			width:100px;
			height:150px;
		}