/*  your css code here. If applicable */
body{
			height:100vh;
			padding:0px;
			margin:0px;
		}
		.hero-section{
			height:500px;
			width:100%;
			background-size:cover;
			position:relative;
		}
		.products-card{
			display:flex;
			align-items:center;
			gap:10px;
			padding:20px;
			position:absolute;
			top:250px;
			left:50px;
		}
		.product-card{
			height:300px;
			width:300px;
			background-color:white;
			box-shadow:0px 10px 10px black;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			
		}
		.card-image{
			width:100px;
			height:150px;
		}
.hero-section-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}